include CONTRIBUTING.md
include LICENSE
include README.md

recursive-include tests *
recursive-include netbox_script_manager/templates *
recursive-include netbox_script_manager/static *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.jpg *.png *.gif
