
{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}
{% load helpers %}
{% load form_helpers %}
{% load log_levels %}
{% load scriptmanager %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <div class="card-body">
          {% if not perms.netbox_script_manager.run_scriptinstance or not perms.netbox_script_manager.view_scriptlogline %}
            <div class="alert alert-warning">
              <i class="mdi mdi-alert"></i>
              You do not have permission to run scripts. The user must have both the run action for ScriptInstances and the view action for ScriptLogLines.
            </div>
          {% endif %}
          {% if not form %}
            <p>Script could not be loaded from module path <strong>{{object.script_path}}</strong>.</p>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Show Exception
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <pre>{{ exception|format_exception }}</pre>
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <div class="field-group my-4">
              <form action="" method="post" enctype="multipart/form-data" class="form form-object-edit">
                {% csrf_token %}
                <div class="field-group my-4">
                  {# Render grouped fields according to declared fieldsets #}
                  {% for group, fields in fieldsets %}
                    {% if fields %}
                      <div class="field-group mb-5">
                        <div class="row mb-2">
                          <h5 class="offset-sm-3">{{ group }}</h5>
                        </div>
                        {% for name in fields %}
                          {% with field=form|getfield:name %}
                            {% render_field field %}
                          {% endwith %}
                        {% endfor %}
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
                <div class="float-end">
                  <a href="{% url 'extras:script_list' %}" class="btn btn-outline-danger">Cancel</a>
                  <button type="submit" name="_run" class="btn btn-primary"{% if not perms.netbox_script_manager.run_scriptinstance or not perms.netbox_script_manager.view_scriptlogline %} disabled="disabled"{% endif %}><i class="mdi mdi-play"></i> Run Script</button>
                </div>
              </form>
            </div>
          {% endif %}
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      <div class="card">

        <h5 class="card-header">Script Instance</h5>

        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <th scope="row">Module Path</th>
              <td>{{ object.module_path }}</td>
            </tr>
            <tr>
              <th scope="row">Class Name</th>
              <td>{{ object.class_name }}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ object.description|placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">Weight</th>
              <td>{{ object.weight|placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">Group</th>
              <td>{{ object.group|placeholder }}</td>
            </tr>
            <tr>
              <th scope="row">Tenant</th>
              <td>
                {% if object.tenant.group %}
                  {{ object.tenant.group|linkify }} /
                {% endif %}
                {{ object.tenant|linkify|placeholder }}
              </td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% endblock content %}

